<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Quran Hifz"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity android:name=".ui.HifzSessionActivity" android:exported="false" />
        <activity android:name=".ui.HifzProgramActivity" android:exported="false" />
        <activity android:name=".ui.HifzSetupActivity" android:exported="false" />
        <activity android:name=".ui.FreeMemActivity" android:exported="false" />
        <activity android:name=".ui.StudyReaderActivity" android:exported="false" />
        <activity android:name=".ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
