<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Fail closed against any transitive library that tries to add direct-call access. -->
    <uses-permission
        android:name="android.permission.CALL_PHONE"
        tools:node="remove" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.twitter.android" />
        <package android:name="com.instagram.android" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.android.chrome" />
        <package android:name="org.mozilla.firefox" />
        <package android:name="com.microsoft.emmx" />
        <package android:name="com.brave.browser" />
        <package android:name="com.opera.browser" />
        <package android:name="com.sec.android.app.sbrowser" />
        <package android:name="com.duckduckgo.mobile.android" />
        <package android:name="com.vivaldi.browser" />
    </queries>

    <application
        android:name=".QuranSafeguardApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuranSafeguard">

        <activity
            android:name=".ProtectionSetupActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReadingHistoryActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ReadingSelectionActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HifzJourneyActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FreeQuranReaderActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".QuranHubActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SettingsHubActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ApplicationsActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SpiritualLibraryActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ThoughtOfDayActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HikamDetailActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".AdhkarActivity"
            android:excludeFromRecents="false"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MushafReaderActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="standard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".GateActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MindfulReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".ReminderRescheduleReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <service
            android:name=".QuranAccessibilityService"
            android:exported="true"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
